Project_Source/Syscom_Developer/SyscomClientServiceFactory/Service References/RptServiceReference/RptService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getPrinterName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="con" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrinterNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPrinterNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getReportIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>