Project_Source/Syscom_Developer/SyscomClientServiceFactory/Service References/SncServiceReference/SncService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getTWYearApiSequentialNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strVKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTWYearApiSequentialNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTWYearApiSequentialNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCmmSerialNoTx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strVKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vMinNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vMaxNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCmmSerialNoTxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCmmSerialNoTxResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>